target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/risk-common/src/main/java/com/ht/risk/common/generator/MysqlGenerator.java
/risk-eip/.mvn/
/risk-eip/mvnw
/risk-eip/mvnw.cmd
/risk-eip/.gitignore

/risk-eip/.mvn/wrapper/maven-wrapper.properties
/risk-eip/.mvn/wrapper/maven-wrapper.jar
/risk-activiti/src/main/resources/application.properties
/activiti-config/src/main/resources/application.properties
/risk-eip/src/main/resources/application.properties
/risk-gate/src/main/resources/application.yml
/risk-rule-service/src/main/resources/application.properties
/risk-ui/src/main/resources/application-dev.yml
