target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/risk-common/src/main/java/com/ht/risk/common/generator/MysqlGenerator.java
/risk-eip/.mvn/
/risk-eip/mvnw
/risk-eip/mvnw.cmd
