<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>模型管理</title>
    <link rel="stylesheet" href="/rule/ui/plugins/layui/css/layui.css" media="all">
    <style>
        .layui-form-item div {
            min-width: 300px;
            margin: 0px;

        }

        .layui-form-item div input{
            min-width: 300px;
            max-width: 300px;
            text-align: center;
        }
    </style>
</head>
<body>


<div style="margin: 15px;"  >
    <form class="layui-form layui-form-pane"  method="post" id="model_valiable_form_auto">
        <div class="layui-form-item" >
            <div class="layui-inline">
              <label class="layui-form-label" >测试数量</label>
                <div class="layui-input-inline" style="max-width: 50px">
                     <input style="max-width: 100px" type="text" name="amount" autocomplete="off" class="layui-input"  onafterpaste="this.value=this.value.replace(/\\D/g,\'\')" maxlength="5" placeholder="请输入整数"/>
                    </div>
                </div>
            <button type="reset" class="layui-btn layui-btn-primary">重 置</button>
            <button class="layui-btn"  lay-submit="" lay-filter="save_auto" id="save_auto">保 存</button>
            <button class="layui-btn"  lay-submit="" lay-filter="createAutoTask" id="createAutoTask">创建测试任务</button>
        </div>
    </form>
</div>
<script src="/rule/ui/plugins/layui/layui.js"></script>
<script src="/rule/ui/src/js/model/model_util.js"></script>
<script src="/rule/ui/src/js/model/model_auto.js"></script>
<script>
    layui.use(['table', 'jquery', 'laydate', 'form'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        $.ajax({
            type: "get",
            url: "/rule/service/actProcRelease/scene/variable/manual",
            data: {
                actProcRealeseId: parent.modelIds
            },
            dataType: "json",
            success: function (data) {
                var modelAutoVerification = new ModelAutoVerification();
                var contents = modelAutoVerification.initModel(data);
                var form1 = $("#model_valiable_form_auto");
                var html = form1.html();
                form1.html(html+contents)
                form.render();
            }
        });
    });
</script>

</body>
</html>