<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>模型管理</title>
    <link rel="stylesheet" href="/rule/ui/plugins/layui/css/layui.css" media="all">
</head>
<body>


<div style="margin: 15px;"  >
    <form class="layui-form layui-form-pane" action="/rule/service/actProcRelease/scene/variable/init" method="post" id="model_valiable_form">
    </form>
</div>


<!--<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">-->
    <!--<ul class="layui-tab-title">-->
        <!--<li class="layui-this">输入值</li>-->
        <!--<li>开始测试</li>-->
    <!--</ul>-->
    <!--<div class="layui-tab-content" style="height: 100px;">-->
        <!--<div class="layui-tab-item layui-show">-->
            <!--<div style="margin: 15px;"  >-->
                <!--<form class="layui-form layui-form-pane" action="/rule/service/actProcRelease/scene/variable/init" method="post" id="model_valiable_form">-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-tab-item">暂时未做</div>-->
    <!--</div>-->
<!--</div>-->



<script src="/rule/ui/plugins/layui/layui.js"></script>
<script src="/rule/ui/src/js/model/model_util.js"></script>
<script src="/rule/ui/src/js/model/model_verification.js"></script>

<!--<script>-->
    <!--layui.use('element', function(){-->
        <!--var $ = layui.jquery-->
            <!--,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块-->

        <!--//触发事件-->
        <!--var active = {-->
            <!--tabAdd: function(){-->
                <!--//新增一个Tab项-->
                <!--element.tabAdd('demo', {-->
                    <!--title: '新选项'+ (Math.random()*1000|0) //用于演示-->
                    <!--,content: '内容'+ (Math.random()*1000|0)-->
                    <!--,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下-->
                <!--})-->
            <!--}-->
            <!--,tabDelete: function(othis){-->
                <!--//删除指定Tab项-->
                <!--element.tabDelete('demo', '44'); //删除：“商品管理”-->


                <!--othis.addClass('layui-btn-disabled');-->
            <!--}-->
            <!--,tabChange: function(){-->
                <!--//切换到指定Tab项-->
                <!--element.tabChange('demo', '22'); //切换到：用户管理-->
            <!--}-->
        <!--};-->

        <!--$('.site-demo-active').on('click', function(){-->
            <!--var othis = $(this), type = othis.data('type');-->
            <!--active[type] ? active[type].call(this, othis) : '';-->
        <!--});-->

        <!--//Hash地址的定位-->
        <!--var layid = location.hash.replace(/^#test=/, '');-->
        <!--element.tabChange('test', layid);-->

        <!--element.on('tab(test)', function(elem){-->
            <!--location.hash = 'test='+ $(this).attr('lay-id');-->
        <!--});-->

    <!--});-->
<!--</script>-->

<script>

  /*  layui.use(['jquery'], function(){
        var $ = layui.jquery;
        var data = {
            "modelName": "房贷模型",
            "modelVersion": "v1.01",
            "variableMap": [
                {
                    "senceName": "房贷评分卡",
                    "data": [
                        {
                            "valibaleEn": "name",
                            "valibaleCn": "姓名",
                            "submitName": "name",
                            "type": "input",
                            "desc": "姓名"
                        },
                        {
                            "valibaleEn": "sex",
                            "valibaleCn": "性别",
                            "submitName": "sex",
                            "type": "select",
                            "desc": "性别",
                            "optionData": [
                                {
                                    "value": "01",
                                    "name": "男"
                                }, {
                                    "value": "02",
                                    "name": "女"
                                },
                            ]
                        }
                    ]
                }
            ]
        };
        var modelVerification = new ModelVerification();
        var contents = modelVerification.initModel(data);
        $("#model_valiable_form").html(contents);
    });*/
</script>
</body>
</html>