<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>模型管理</title>
    <link rel="stylesheet" href="/rule/ui/plugins/layui/css/layui.css" media="all">
    <style>
        .layui-form-item div {
            min-width: 300px;
            margin: 0px;

        }

        .layui-form-item div input{
            min-width: 300px;
            max-width: 300px;
            text-align: center;
        }
    </style>
</head>
<body>


<div style="margin: 15px;"  >
    <form class="layui-form layui-form-pane" action="/rule/service/actProcRelease/scene/variable/init" method="post" id="model_valiable_form_auto">
    </form>
</div>
<script src="/rule/ui/plugins/layui/layui.js"></script>
<script src="/rule/ui/src/js/model2/model_util.js"></script>
<script src="/rule/ui/src/js/model2/model_verification.js"></script>

</body>
</html>