<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>模型管理</title>
    <link rel="stylesheet" href="/rule/ui/plugins/layui/css/layui.css" media="all">
</head>
<body>


<div style="margin: 15px;">
    <form class="layui-form layui-form-pane" action="/rule/service/actProcRelease/scene/variable/init" method="post"
          id="model_valiable_form">
    </form>
</div>

<script src="/rule/ui/plugins/layui/layui.js"></script>
<script src="/rule/ui/src/js/model2/model_util.js"></script>
<script src="/rule/ui/src/js/model2/model_verification.js"></script>
<script>
    layui.use(['table', 'jquery', 'laydate', 'form'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        $.ajax({
            type: "get",
            url: "/rule/service/actProcRelease/scene/variable/manual",
            data: {
                actProcRealeseId: parent.modelIds
            },
            dataType: "json",
            success: function (data) {
                var modelVerification = new ModelVerification();
                var contents = modelVerification.initModel(data);
                var form1 = $("#model_valiable_form");
                form1.html(contents)
                form.render();
            }
        });
    });
</script>

</body>
</html>