<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.risk.rule.mapper.ActionParamInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.risk.rule.entity.ActionParamInfo">
        <id column="action_param_id" property="actionParamId" />
        <result column="action_id" property="actionId" />
        <result column="action_param_name" property="actionParamName" />
        <result column="action_param_desc" property="actionParamDesc" />
        <result column="param_identify" property="paramIdentify" />
        <result column="is_effect" property="isEffect" />
        <result column="cre_user_id" property="creUserId" />
        <result column="cre_time" property="creTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        action_param_id AS actionParamId, action_id AS actionId, action_param_name AS actionParamName, action_param_desc AS actionParamDesc, param_identify AS paramIdentify, is_effect AS isEffect, cre_user_id AS creUserId, cre_time AS creTime, remark
    </sql>

</mapper>
