<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.risk.rule.mapper.ActionInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.risk.rule.entity.ActionInfo">
        <id column="action_id" property="actionId" />
        <result column="action_type" property="actionType" />
        <result column="action_name" property="actionName" />
        <result column="action_desc" property="actionDesc" />
        <result column="action_class" property="actionClass" />
        <result column="is_effect" property="isEffect" />
        <result column="cre_user_id" property="creUserId" />
        <result column="cre_time" property="creTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <resultMap type="com.ht.risk.rule.vo.ActionInfoVo" id="action">
        <id column="action_id" property="value" />
        <result column="action_type" property="actionType" />
        <result column="action_name" property="text" />
        <result column="action_desc" property="actionDesc" />
        <result column="action_class" property="actionClass" />
        <result column="is_effect" property="isEffect" />
        <result column="cre_user_id" property="creUserId" />
        <result column="cre_time" property="creTime" />
        <result column="remark" property="remark" />
        <!-- 一对多查询 -->
        <collection property="paramInfoList"  ofType="com.ht.risk.rule.vo.ActionParamInfoVo">
            <!-- id:唯一标识
                    property：要将订单明细的唯一标识映射到com.mybatis.entity.OrderDetail的那个属性
                -->
            <id column="action_param_id" property="value" />
            <result column="action_id" property="actionId" />
          <!--  <result column="action_id" property="actionId" />-->
            <result column="action_param_name" property="text" />
            <!--  <result column="action_param_id" property="value" />
          <result column="action_param_id" property="actionParamId" />
            <result column="action_param_name" property="actionParamName" />-->

            <result column="action_param_desc" property="actionParamDesc" />
            <result column="param_identify" property="paramIdentify" />
        </collection>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        action_id AS actionId, action_type AS actionType, action_name AS actionName, action_desc AS actionDesc, action_class AS actionClass, is_effect AS isEffect, cre_user_id AS creUserId, cre_time AS creTime, remark
    </sql>

    <select id="findBaseRuleActionInfoList" parameterType="com.ht.risk.rule.entity.ActionInfo"
            resultType="com.ht.risk.rule.entity.ActionInfo">
        SELECT DISTINCT
        T.ACTION_ID,
        T.ACTION_TYPE,
        T.ACTION_NAME,
        T.ACTION_DESC,
        T.ACTION_CLASS,
        T.IS_EFFECT,
        T.CRE_USER_ID,
        T.CRE_TIME,
        T.REMARK
        FROM
        rule_action_info T
        WHERE
        1 = 1
    </select>
    <select id="findRuleActionListByScene" parameterType="com.ht.risk.rule.entity.SceneInfo"
            resultType="com.ht.risk.rule.entity.ActionInfo">
        SELECT DISTINCT
        A.ACTION_ID,
        A.ACTION_TYPE,
        A.ACTION_NAME,
        A.ACTION_DESC,
        A.ACTION_CLASS,
        A.IS_EFFECT,
        A.CRE_USER_ID,
        A.CRE_TIME,
        A.REMARK
        FROM
        rule_action_info A
        INNER JOIN rule_action_rule_rel AR ON AR.ACTION_ID = A.ACTION_ID
        INNER JOIN rule_info R ON R.RULE_ID = AR.RULE_ID
        INNER JOIN rule_scene_info S ON S.SCENE_ID = R.SCENE_ID
        WHERE
        1 = 1
        AND A.IS_EFFECT = 1
        AND AR.IS_EFFECT = 1
        AND R.IS_EFFECT = 1
        AND R.RULE_ENABLED = 1
        AND S.IS_EFFECT = 1
        <if test="sceneIdentify != null">
            AND S.SCENE_IDENTIFY = #{sceneIdentify}
        </if>
        <if test="sceneId != null">
            AND S.SCENE_ID = #{sceneId}
        </if>

    </select>
    <select id="findRuleActionListByRule" resultType="com.ht.risk.rule.entity.ActionInfo">
        SELECT DISTINCT
        A.ACTION_ID,
        A.ACTION_TYPE,
        A.ACTION_NAME,
        A.ACTION_DESC,
        A.ACTION_CLASS,
        A.IS_EFFECT,
        A.CRE_USER_ID,
        A.CRE_TIME,
        A.REMARK
        FROM
        rule_action_info A
        INNER JOIN rule_action_rule_rel AR ON AR.ACTION_ID = A.ACTION_ID
        WHERE
        1 = 1
        AND A.IS_EFFECT = 1
        AND AR.IS_EFFECT = 1
        AND AR.RULE_ID = #{ruleId}
    </select>
    <select id="findRuleActionCountByRuleIdAndActionType" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM
        rule_action_info A
        INNER JOIN rule_action_rule_rel AR ON AR.ACTION_ID = A.ACTION_ID
        WHERE
        1 = 1
        AND A.IS_EFFECT = 1
        AND AR.IS_EFFECT = 1
        AND A.ACTION_TYPE = 1
        AND AR.RULE_ID = #{ruleId}
    </select>
    <!--通过id查询集合-->
    <select id="findByIds" resultMap="action">
        SELECT
        a.*, p.action_param_id,
	      p.param_identify,
	    p.action_param_name
        FROM
        rule_action_info a ,rule_action_param_info p
        WHERE
        a.action_id = p.action_id
        AND a.action_id in (${ids})
    </select>
    <select id="findActionAllVos"  resultMap="action">
        SELECT
            a.*, p.action_param_id,
            p.param_identify,
            p.action_param_name
        FROM
            rule_action_info a ,rule_action_param_info p
        where p.action_id = a.action_id
        AND  p.action_param_id IS NOT NULL
        <if test="businessId != null ">
            AND  a.business_id = #{businessId}
        </if>
    </select>

</mapper>
