<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.risk.rule.mapper.ActProcReleaseMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ht.risk.rule.entity.ActProcRelease">
		<id column="ID" property="id" />
		<result column="MODEL_PROCDEF_ID" property="modelProcdefId" />
		<result column="MODEL_NAME" property="modelName" />
		<result column="MODEL_VERSION" property="modelVersion" />
		<result column="MODEL_CATEGORY" property="modelCategory" />
		<result column="VERSION_TYPE" property="versionType" />
		<result column="IS_VALIDATE" property="isValidate" />
		<result column="IS_APPROVE" property="isApprove" />
		<result column="IS_EFFECT" property="isEffect" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		ID AS id, model_procdef_id AS modelProcdefId, model_name AS modelName,
		model_version AS modelVersion, model_category AS modelCategory,
		version_type AS versionType, is_validate AS isValidate, is_approve AS
		isApprove, is_effect AS isEffect, update_time AS updateTime,
		 AS updateUser, create_time AS createTime, create_user AS
		createUser
	</sql>

	<sql id="BaseFindColumnSqlModelTask">
		t1.id,
		t1.model_procdef_id,
		t1.model_name,
		t1.model_version,
		t1.model_category,
		t1.version_type,
		t1.is_validate,
		t1.is_approve,
		t1.is_effect,
		t2.id as taskid,
		t2.corn_text,
		t2.task_status
	</sql>

	<select id="findModelTaskList" resultMap="entityModelTask">
		SELECT DISTINCT
		<include refid="BaseFindColumnSqlModelTask"></include>
		FROM risk_model_task
		<where>
		  ${ew.sqlSegment}
		</where>
	</select>

	<resultMap id = "entityModelTask" type="com.ht.risk.rule.entity.ActProcRelease">
		<id column="id" property="id" />
		<result column="model_procdef_id" property="modelProcdefId" />
		<result column="model_name" property="modelName" />
		<result column="model_version" property="modelVersion" />
		<result column="model_category" property="modelCategory" />
		<result column="version_type" property="versionType" />
		<result column="is_validate" property="isValidate" />
		<result column="is_approve" property="isApprove" />
		<result column="is_effect" property="isEffect" />
		<result column="taskId" property="taskId" />
		<result column="corn_text" property="cornText" />
		<result column="task_status" property="taskStatus" />
	</resultMap>

</mapper>
