<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.risk.rule.mapper.ConditionInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.risk.rule.entity.ConditionInfo">
        <id column="condition_id" property="conditionId" />
        <result column="rule_id" property="ruleId" />
        <result column="condition_name" property="conditionName" />
        <result column="condition_expression" property="conditionExpression" />
        <result column="condition_desc" property="conditionDesc" />
        <result column="is_effect" property="isEffect" />
        <result column="cre_user_id" property="creUserId" />
        <result column="cre_time" property="creTime" />
        <result column="remark" property="remark" />
        <result column="val" property="val" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        condition_id AS conditionId, rule_id AS ruleId, condition_name AS conditionName, condition_expression AS conditionExpression, condition_desc AS conditionDesc, is_effect AS isEffect, cre_user_id AS creUserId, cre_time AS creTime, remark
    </sql>

    <sql id="BaseFindListSql">
        T.CONDITION_ID,
        T.RULE_ID,
        T.CONDITION_NAME,
        T.CONDITION_EXPRESSION,
        T.CONDITION_DESC,
        T.IS_EFFECT,
        T.CRE_USER_ID,
        T.CRE_TIME,
         T.VAL,
        T.REMARK
    </sql>
    <select id="findBaseRuleConditionInfoList" parameterType="com.ht.risk.rule.entity.ConditionInfo"
            resultType="com.ht.risk.rule.entity.ConditionInfo">
        SELECT DISTINCT
        <include refid="BaseFindListSql"></include>
        FROM
        RULE_CONDITION_INFO T
        WHERE
        1 = 1
        <if test="ruleId != null">
            AND T.RULE_ID = #{ruleId}
        </if>

    </select>
    <select id="findRuleConditionInfoByRuleId" resultType="com.ht.risk.rule.entity.ConditionInfo">
        SELECT DISTINCT
        <include refid="BaseFindListSql"></include>
        FROM
        RULE_CONDITION_INFO T
        WHERE
        1 = 1
        <if test="ruleId != null">
            AND T.RULE_ID = #{ruleId}
        </if>
    </select>

</mapper>
