<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.risk.rule.mapper.EntityItemInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.risk.rule.entity.EntityItemInfo">
        <id column="item_id" property="itemId" />
        <result column="entity_id" property="entityId" />
        <result column="item_name" property="itemName" />
        <result column="item_identify" property="itemIdentify" />
        <result column="item_desc" property="itemDesc" />
        <result column="cre_user_id" property="creUserId" />
        <result column="cre_time" property="creTime" />
        <result column="is_effect" property="isEffect" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        item_id AS itemId, entity_id AS entityId, item_name AS itemName, item_identify AS itemIdentify, item_desc AS itemDesc, cre_user_id AS creUserId, cre_time AS creTime, is_effect AS isEffect, remark
    </sql>

    <sql id="BaseFindColumnSql">
        T.ITEM_ID,
        T.ENTITY_ID,
        T.ITEM_NAME,
        T.ITEM_IDENTIFY,
        T.ITEM_DESC,
        T.CRE_USER_ID,
        T.CRE_TIME,
        T.IS_EFFECT,
        T.REMARK
    </sql>
    <select id="findBaseRuleEntityItemInfoList" parameterType="com.ht.risk.rule.entity.EntityItemInfo"
            resultType="com.ht.risk.rule.entity.EntityItemInfo">
        SELECT DISTINCT
        <include refid="BaseFindColumnSql"></include>
        FROM
        rule_entity_item_info T
        WHERE 1=1

    </select>
    <select id="findBaseRuleEntityItemInfoById" resultType="com.ht.risk.rule.entity.EntityItemInfo">
        SELECT DISTINCT
        <include refid="BaseFindColumnSql"></include>
        FROM
        rule_entity_item_info T
        WHERE 1=1
        AND T.ITEM_ID = #{id}
    </select>

</mapper>
