<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.risk.rule.mapper.RuleHisVersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.risk.rule.entity.RuleHisVersion">
        <id column="ID" property="id"/>
        <result column="SENCE_VERSION_ID" property="senceVersionId"/>
        <result column="RULE_NAME" property="ruleName"/>
        <result column="RULE_DESC" property="ruleDesc"/>
        <result column="IS_EFFECT" property="isEffect"/>
        <result column="CREATE_USER" property="createUser"/>
        <result column="CREATE_TIME" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, SENCE_VERSIONID AS senceVersionid, RULE_NAME AS ruleName, RULE_DESC AS ruleDesc, IS_EFFECT AS isEffect, CREATE_USER AS createUser, CREATE_TIME AS createTime
    </sql>
    <sql id="Column_List">
        ID AS id, SENCE_VERSIONID AS senceVersionid, RULE_NAME AS ruleName, RULE_DESC AS ruleDesc, IS_EFFECT AS isEffect, CREATE_USER AS createUser, CREATE_TIME AS createTime,validationResult,executeRule
    </sql>

    <select id="getRuleValidationResult" resultType="com.ht.risk.rule.vo.RuleHisVersionVo" parameterType="map">
        select <include refid="Column_List"/>
          case isnull(d.executeRule)  when 1 then '1' when 0 then '0'  end  as validationResult from RISK_RULE_HIS_VERSION ver left join
(select b.EXECUTE_RULENAME as executeRule  from RISK_TEST_DROOLS_LOG a inner join RISK_TEST_DROOLS_DETAIL_LOG b on a.id = b.DROOLS_LOGID  where a.id = #{id}) d
on ver.RULE_NAME = d.executeRule
where ver.SENCE_VERSION_ID = #{senceVersionId}
    </select>


</mapper>
