<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.risk.rule.mapper.SceneEntityRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.risk.rule.entity.SceneEntityRel">
        <id column="scene_entity_rel_id" property="sceneEntityRelId" />
        <result column="scene_id" property="sceneId" />
        <result column="entity_id" property="entityId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        scene_entity_rel_id AS sceneEntityRelId, scene_id AS sceneId, entity_id AS entityId
    </sql>

</mapper>
