<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.risk.rule.mapper.ValidateBatchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.risk.rule.entity.ValidateBatch">
        <id column="ID" property="id" />
        <result column="DEPLOYMEN_TID" property="deploymenTid" />
        <result column="BATCH_SIZE" property="batchSize" />
        <result column="IS_EFFECT" property="isEffect" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_USER" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, deploymen_tid AS deploymenTid, batch_size AS batchSize, is_effect AS isEffect, create_time AS createTime, create_user AS createUser
    </sql>


    <select id="queryJobList">
        SELECT id AS id, deploymen_tid AS deploymenTid, batch_size AS batchSize, is_effect AS isEffect, create_time AS createTime, create_user AS createUser
        FROM risk_validate_batch a WHERE a
    </select>

</mapper>
