<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.risk.activiti.mapper.RiskValidateBatchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.risk.activiti.entity.RiskValidateBatch">
        <id column="id" property="id" />
        <result column="proc_release_id" property="procReleaseId" />
        <result column="batch_size" property="batchSize" />
        <result column="status" property="status" />
        <result column="complete_count" property="count" />
        <result column="is_effect" property="isEffect" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, deployment_id AS deploymentId, batch_size AS batchSize, status AS status, count AS count, is_effect AS isEffect, create_time AS createTime, create_user AS createUser
    </sql>


    <select id="queryValidateBatchList" parameterType="com.ht.risk.activiti.entity.RiskValidateBatch" resultType="com.ht.risk.activiti.entity.RiskValidateBatch">
        select B.model_name,B.model_version,A.id,A.proc_release_id,A.`status` from risk_validate_batch A INNER JOIN act_proc_release B ON A.proc_release_id = B.id
        WHERE 1=1
        <if test="modelName != null and modelName != '' ">
          and B.model_name = #{modelName}
        </if>
        <if test="modelVersion != null and modelVersion != '' ">
            and B.model_version = #{modelVersion}
        </if>
        order by A.create_time desc
    </select>

</mapper>
