<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.risk.activiti.mapper.RiskValidateBatchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.risk.activiti.entity.RiskValidateBatch">
        <id column="ID" property="id" />
        <result column="PROC_RELEASE_ID" property="procReleaseId" />
        <result column="BATCH_SIZE" property="batchSize" />
        <result column="STATUS" property="status" />
        <result column="COMPLETE_COUNT" property="count" />
        <result column="IS_EFFECT" property="isEffect" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_USER" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, DEPLOYMENT_ID AS deploymentId, BATCH_SIZE AS batchSize, STATUS AS status, COUNT AS count, IS_EFFECT AS isEffect, CREATE_TIME AS createTime, CREATE_USER AS createUser
    </sql>


    <select id="queryValidateBatchList" parameterType="com.ht.risk.activiti.entity.RiskValidateBatch" resultType="com.ht.risk.activiti.entity.RiskValidateBatch">
        select B.MODEL_NAME,B.MODEL_VERSION,A.ID,A.PROC_RELEASE_ID,A.`STATUS` from RISK_VALIDATE_BATCH A INNER JOIN ACT_PROC_RELEASE B ON A.PROC_RELEASE_ID = B.ID
        WHERE 1=1
        <if test="modelName != null and modelName != '' ">
          and B.MODEL_NAME = #{modelName}
        </if>
        <if test="modelVersion != null and modelVersion != '' ">
            and B.MODEL_VERSION = #{modelVersion}
        </if>
    </select>

</mapper>
