<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.risk.mapper.BaseRuleEntityItemInfoMapper">
    <sql id="BaseFindColumnSql">
            T.ITEM_ID,
            T.ENTITY_ID,
            T.ITEM_NAME,
            T.ITEM_IDENTIFY,
            T.ITEM_DESC,
            T.CRE_USER_ID,
            T.CRE_TIME,
            T.IS_EFFECT,
            T.REMARK,
            R.ENTITY_NAME,
            R.ENTITY_DESC,
            R.ENTITY_IDENTIFY
    </sql>
    <select id="findBaseRuleEntityItemInfoList" parameterType="com.ht.risk.model.BaseRuleEntityItemInfo"
            resultType="com.ht.risk.model.BaseRuleEntityItemInfo">
        SELECT DISTINCT
            <include refid="BaseFindColumnSql"></include>
        FROM
            rule_entity_item_info T
        WHERE 1=1

    </select>
    <select id="findBaseRuleEntityItemInfoById" resultType="com.ht.risk.model.BaseRuleEntityItemInfo">
        SELECT DISTINCT
        <include refid="BaseFindColumnSql"></include>
        FROM
        rule_entity_item_info T
        inner join rule_entity_info R on T.entity_id=R.entity_id
        WHERE 1=1
        AND T.ITEM_ID = #{id}
    </select>
</mapper>