<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.risk.mapper.BaseRuleSceneInfoMapper">
    <select id="findBaseRuleSceneInfiList" parameterType="com.ht.risk.model.BaseRuleSceneInfo"
            resultType="com.ht.risk.model.BaseRuleSceneInfo">
        SELECT DISTINCT
                T.SCENE_ID,
                T.SCENE_IDENTIFY,
                T.SCENE_TYPE,
                T.SCENE_NAME,
                T.SCENE_DESC,
                T.IS_EFFECT,
                T.CRE_USER_ID,
                T.CRE_TIME,
                T.REMARK,
                T.VERSION
            FROM
                rule_scene_info T
            WHERE	1 = 1
		<if test="sceneId != null and sceneId != '' ">
			and T.scene_id = #{sceneId}
		</if>
		<if test="sceneIdentify != null and sceneIdentify != '' ">
			and T.SCENE_IDENTIFY = #{sceneIdentify}
		</if>
		<if test="version != null and version != '' ">
			and T.VERSION = #{version}
		</if>
    </select>
</mapper>