<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>模型管理</title>
    <link rel="stylesheet" href="/rule/ui/plugins/layui/css/layui.css" media="all">
</head>
<body>
<div class="demoTable" style="padding:10px 10px 0px 10px">
  <!--  模板名称：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="modelName" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">查询</button>-->
    <input type="hidden" id="modelId">
    <div class="layui-row layui-form">
        <div class="layui-col-xs12">
            <div class="layui-col-xs5" style="padding-right: 10px">
            <fieldset class="layui-elem-field">
                <legend>模型定义列表</legend>
                <div class="layui-field-box">

                        <div class="demoTable" style="padding:10px 10px 0px 10px">
                            <div class="layui-inline">
                                <input class="layui-input" name="id" id="modelName" autocomplete="off" placeholder="模型名称">
                            </div>
                            <div class="layui-input-inline" id="business_ser">
                            </div>
                            <button class="layui-btn" data-type="reload" id="model_search">查询</button>
                        </div>
                        <table id="model_list" lay-filter="model" lay-data="{id: 'idModel'}"></table>
                    </div>
            </fieldset>
            </div>
            <div class="layui-col-xs7">
            <fieldset class="layui-elem-field">
                <legend>模型版本信息</legend>
                <div class="layui-field-box">
                        <div class="demoTable" style="padding:10px 10px 0px 10px">
                            <div class="layui-inline">
                                <input class="layui-input" name="id" id="modelVersion" autocomplete="off" placeholder="模型版本">
                            </div>
                            <button class="layui-btn" data-type="versionReload" id="version_search">查询</button>
                        </div>
                        <table id="version_list" lay-filter="version" lay-data="{id: 'version'}"></table>
                    </div>
            </fieldset>
            </div>
        </div>
    </div>
</div>




<script type="text/html" id="statusTpl">
    {{#  if(d.isEffect == '0'){ }}
    <span>启用</span>
    {{#  } else { }}
    <span>停用</span>
    {{#  } }}
</script>

<script type="text/html" id="versionTpl">
    {{#  if(d.versionType == '1'){ }}
    <span>{{d.modelVersion}} </span>
    {{#  } else { }}
    <span>(暂无)</span>
    {{#  } }}
</script>

<script type="text/html" id="modelBar">
    <a class="layui-btn layui-btn-xs" lay-event="version">查看版本</a>
</script>


<script type="text/html" id="versionBar">
    {{#  if(d.versionType == '1'){ }}
        <a class="layui-btn layui-btn-xs" lay-event="start">启用</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="stop">停用</a>
    {{#  }  }}
    <a class="layui-btn layui-btn-xs" lay-event="publish">发布</a>
</script>



</div>
<script src="/rule/ui/plugins/layui/layui.js"></script>
<script src="/rule/ui/src/js/model/model_config.js"></script>
<script src="/rule/ui/src/js/model/model_version.js"></script>
</body>
</html>